body {

}

.header-contact {
	width: 165px;
	font-weight: bold;
	margin-bottom: -40px;
	padding-left: 80%;
}

.header {
	padding-top: 20px;
	width: 100%;
	height: auto;
	/*border-style: solid;*/
	margin: auto;
}

.main-logo {
	width: 100%;
	height: 145px;
	background-color: #AD3663;
}

.logo {
	display: block;
	/*width: 18%;*/
	align-content: center;
	margin: auto;
	border-radius: 30%;
	box-shadow: 0 0 15px firebrick;
}

.standard {
	background-color: #885D18;
	margin-top: 10px;
	height: 7px;
}	

.stripe {
	margin:auto;
	width: 100%;
	height:60px;
	background-color: #fff;
}

.list {
	margin-top: 5px;
	height: auto;
	margin-bottom: 0;
	padding: 0 5px;
}

.nav-buttons {
	display: inline-block;
	text-align: center;
	font-size: 1.25em;
	/*list-style: square inside;*/
}

.list li {
	width: 17%;
}

.list a {
	text-decoration: none;
	color: #473a47;
	font-weight: 600;
	font-family: 'Lobster', cursive;
}

.list a:hover {
	color: #000;
}

.img-container {
	padding-top: -5px;
}

.img-title {

	text-align: center;
	color: #fff;
	font-size:2em;
	letter-spacing: 2px;
	font-family: 'Lobster', cursive;
	background-color: #AD3663;
	margin-bottom: -30px;
	margin-top: -10px;
}

.full-pizza {
	background: url("../img/pizza_full.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
}

.body-container {
	width: 100%;
	/*border-style:solid;*/
}
.deal-header {
	font-size: 2em;
	font-family: cursive;
	padding-left: 40px;
	margin: 20px 0 20px;
	width: 90%;
	height: auto;
}

.deals-container {
	width: 100%;
	height: 300px;
}

.deals {
	width: 31.3333%;
	height: 300px;
	float: left;
	margin: 0 auto;
	padding-left: 15px;
	padding-top: 20px;
}

.deals img {
	width: 100%;
	height: 300px;
	border-radius: 15%;
}

.deals div {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
	font-family: cursive;
}

.menu-header {
	font-size: 2em;
	font-family: cursive;
	padding-left: 40px;
	margin: 70px 0 20px;
	width: 90%;
	height: auto;
}

.menu-container {
	width: 90%;
	height: 425px;
	margin: auto;
}

.menu {
	width: 31.3333%;
	height: 45%;
	float: left;
	margin: 20px 1%;
	/*margin:  20px 2.5px;*/
}

.menu img {
	width: 100%;
	height: 100%;
	border-radius: 15%;
	align-content: center;
}

.menu div {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
	font-family: cursive;
}

footer {
	border-top-style: solid;
	border-width: 1px;
	clear: both;
	height: 275px;
	margin-top: 160px;
	background-color: #eee;
	/*border-style: solid;*/
}

.footer-container {
	float: left;
	width: 16.6666%;
	text-align: center;
}

.footer-container a {
	text-decoration: none;
	color: #91a2bf;
}

.footer-container img {
	margin: 30px auto;
	border-radius: 20%;
	width: 90%
}

#order-online-button {
	padding-left: 1px;
	background-color: #000; 
	font-size: 1.25rem;
	border-radius: 20%;
	text-decoration: none;
	color: #fff;
}

#instagram {
	width: 30%;
	margin:-10px auto;
}

#facebook {
	width: 30%;
	margin: 10px auto;
}